/modul-1/object and class/nbproject/private/
/modul-1/object and class/build/
/modul-1/TugasPraktikum/nbproject/private/
/modul-1/Tugas Praktikum 2/nbproject/private/
/modul-1/Tugas praktikum/nbproject/private/
/modul-1/modul1/nbproject/private/
/modul-1/modul1/build/
/modul-1/modul1-2/nbproject/private/
/modul-1/modul1-1/nbproject/private/
/modul-1/modul1-1/build/
/modul-1/modul2/nbproject/private/
/modul-1/latihan/nbproject/private/
/modul-1/belajar/nbproject/private/
/modul-1/belajar/build/
/modul-3/Modul3/nbproject/private/
/modul-3/Praktikum 3/nbproject/private/
/modul-3/Praktikum 3/build/
/modul-3/Praktikum3/nbproject/private/
/modul-3/uts/nbproject/private/
/modul-3/HAL1/nbproject/private/
